.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  
  ul.comments {
    color: #1e43bd;
    align-items: start;
    padding: 1%;
  }